body {
    font-family: 'Rajdhani', sans-serif;
}

header p {
    font-size: calc(1rem + 1.0vw);
}

main {
    max-width: 80%;
    margin: auto;
}

@media screen and (max-width:769px) {
    main{
    max-width: 100%;
   } 
}

section div {
    
    height: 60px;
    padding: 0.5em 0;
    font-size: calc(1em + 0.5vw);
}

@media screen and (max-width:769px) {
    section div {
        padding: 1.0em 0;
    }
}